
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
        font-family: 'Roboto', sans-serif;
        @include styleText(#62646a,$fs-0,$fw-normal);
}

.max-width-container{
    margin: 0 auto;
    padding: 32px 32px 64px;
}